---
- name: Configure MongoDB Database Server
  hosts: db_servers
  become: yes

  tasks:
    - name: Import MongoDB GPG key
      apt_key:
        url: https://www.mongodb.org/static/pgp/server-7.0.asc
        state: present

    - name: Add MongoDB repository
      apt_repository:
        repo: "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse"
        state: present
        filename: mongodb-org-7.0

    - name: Install MongoDB
      apt:
        name: mongodb-org
        state: present
        update_cache: yes

    - name: Enable and start MongoDB service
      systemd:
        name: mongod
        enabled: yes
        state: started

    - name: Configure MongoDB to listen on all interfaces
      lineinfile:
        path: /etc/mongod.conf
        regexp: '^  bindIp:'
        line: '  bindIp: 0.0.0.0'
        backup: yes
      notify: restart mongodb

  handlers:
    - name: restart mongodb
      systemd:
        name: mongod
        state: restarted
