---
# Nagios monitoring server configuration
- name: Configure Nagios Monitoring Server
  hosts: monitoring_servers
  become: yes
  gather_facts: yes

  vars:
    nagios_version: "4.4.6"
    nagios_src_dir: "/tmp/nagios-{{ nagios_version }}"
    nagios_tar: "/tmp/nagios-{{ nagios_version }}.tar.gz"
    nagios_user: nagios
    nagios_group: nagios
    nagios_cmdgroup: nagcmd
    nagios_web_user: nagiosadmin
    nagios_web_password: "changeme123"

  tasks:
    - name: Install Nagios and Apache dependencies
      apt:
        name:
          - build-essential
          - libgd-dev
          - libssl-dev
          - libc6-dev
          - make
          - gettext
          - wget
          - unzip
          - apache2
          - php
          - libapache2-mod-php
          - php-gd
          - sendmail
        state: present
        update_cache: yes

    - name: Ensure nagcmd group exists
      group:
        name: "{{ nagios_cmdgroup }}"
        state: present
        system: yes

    - name: Ensure nagios user exists
      user:
        name: "{{ nagios_user }}"
        group: "{{ nagios_cmdgroup }}"
        append: yes
        system: yes
        shell: /bin/bash
        create_home: yes
        home: /home/nagios

    - name: Add www-data to nagcmd group
      user:
        name: www-data
        groups: "{{ nagios_cmdgroup }}"
        append: yes

    - name: Download Nagios Core {{ nagios_version }}
      get_url:
        url: "https://assets.nagios.com/downloads/nagioscore/releases/nagios-{{ nagios_version }}.tar.gz"
        dest: "{{ nagios_tar }}"
        mode: "0644"

    - name: Extract Nagios Core
      unarchive:
        src: "{{ nagios_tar }}"
        dest: /tmp
        remote_src: yes

    - name: Configure Nagios Core
      shell: |
        ./configure --with-command-group={{ nagios_cmdgroup }}
      args:
        chdir: "{{ nagios_src_dir }}"
        creates: "{{ nagios_src_dir }}/Makefile"

    - name: Compile Nagios Core
      shell: make all
      args:
        chdir: "{{ nagios_src_dir }}"
      when: not lookup('file', '/usr/local/nagios/bin/nagios', errors='ignore')

    - name: Remove existing Nagios Apache config if exists
      file:
        path: /etc/apache2/sites-enabled/nagios.conf
        state: absent
      ignore_errors: yes

    - name: Install Nagios Core and web config
      shell: |
        make install
        make install-init
        make install-config
        make install-commandmode
        make install-webconf || true
      args:
        chdir: "{{ nagios_src_dir }}"
      ignore_errors: yes

    - name: Ensure Nagios Apache config is enabled
      file:
        src: /etc/apache2/sites-available/nagios.conf
        dest: /etc/apache2/sites-enabled/nagios.conf
        state: link
        force: yes

    - name: Enable Apache modules
      shell: |
        a2enmod cgi
        a2enmod rewrite
      ignore_errors: yes

    - name: Install Nagios plugins
      apt:
        name:
          - monitoring-plugins
          - monitoring-plugins-basic
          - monitoring-plugins-standard
        state: present

    - name: Ensure libexec dir exists
      file:
        path: /usr/local/nagios/libexec
        state: directory
        owner: "{{ nagios_user }}"
        group: "{{ nagios_cmdgroup }}"
        mode: "0755"

    - name: Symlink Ubuntu plugins
      shell: ln -sf /usr/lib/nagios/plugins/* /usr/local/nagios/libexec/ || true
      args:
        warn: false
      ignore_errors: yes

    - name: Create Nagios web admin user
      shell: >
        htpasswd -b -c /usr/local/nagios/etc/htpasswd.users
        {{ nagios_web_user }} {{ nagios_web_password }}
      args:
        creates: /usr/local/nagios/etc/htpasswd.users

    - name: Copy Nagios configuration files
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ nagios_user }}"
        group: "{{ nagios_user }}"
        mode: '0644'
      loop:
        - { src: '../templates/nagios.cfg.j2', dest: '/usr/local/nagios/etc/nagios.cfg' }
        - { src: '../templates/commands.cfg.j2', dest: '/usr/local/nagios/etc/objects/commands.cfg' }
        - { src: '../templates/contacts.cfg.j2', dest: '/usr/local/nagios/etc/objects/contacts.cfg' }
        - { src: '../templates/timeperiods.cfg.j2', dest: '/usr/local/nagios/etc/objects/timeperiods.cfg' }
        - { src: '../templates/templates.cfg.j2', dest: '/usr/local/nagios/etc/objects/templates.cfg' }
      ignore_errors: yes

    - name: Create hosts configuration directory
      file:
        path: /usr/local/nagios/etc/servers
        state: directory
        owner: "{{ nagios_user }}"
        group: "{{ nagios_user }}"
        mode: '0755'

    - name: Copy host configuration templates
      template:
        src: '../templates/host.cfg.j2'
        dest: '/usr/local/nagios/etc/servers/{{ item.name }}.cfg'
        owner: "{{ nagios_user }}"
        group: "{{ nagios_user }}"
        mode: '0644'
      loop:
        - { name: 'app-server', ip: '{{ hostvars[groups["app_servers"][0]]["ansible_default_ipv4"]["address"] }}' }
        - { name: 'db-server', ip: '{{ hostvars[groups["db_servers"][0]]["ansible_default_ipv4"]["address"] }}' }
      when: groups['app_servers'] is defined and groups['db_servers'] is defined
      ignore_errors: yes

    - name: Update Nagios configuration parameters
      replace:
        path: /usr/local/nagios/etc/nagios.cfg
        regexp: '^(service_inter_check_delay_method|service_interleave_factor|host_inter_check_delay_method)=.*$'
        replace: '\1=s'

    - name: Ensure Nagios commands directory exists
      file:
        path: /usr/local/nagios/etc/objects
        state: directory
        mode: '0755'
        owner: "{{ nagios_user }}"
        group: "{{ nagios_group }}"

    - name: Configure Nagios commands
      blockinfile:
        path: /usr/local/nagios/etc/objects/commands.cfg
        block: |
          define command{
              command_name check_ping
              command_line /usr/local/nagios/libexec/check_ping -H $HOSTADDRESS$ -w 100.0,20% -c 500.0,60% -p 5
          }

          define command{
              command_name check_ssh
              command_line /usr/local/nagios/libexec/check_ssh $HOSTADDRESS$
          }

          define command{
              command_name notify-service-by-email
              command_line /usr/bin/printf "%b" "$SERVICEOUTPUT$\n" | /usr/bin/mail -s "* $NOTIFICATIONTYPE$ Service Alert: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ *" $CONTACTEMAIL$
          }

          define command{
              command_name notify-host-by-email
              command_line /usr/bin/printf "%b" "$HOSTOUTPUT$\n" | /usr/bin/mail -s "* $NOTIFICATIONTYPE$ Host Alert: $HOSTALIAS$ is $HOSTSTATE$ *" $CONTACTEMAIL$
          }
        owner: "{{ nagios_user }}"
        group: "{{ nagios_group }}"
        mode: '0644'
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - NAGIOS COMMANDS"

    - name: Validate Nagios configuration
      command: /usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg
      register: nagios_validate
      changed_when: false
      ignore_errors: yes

    - name: Display validation results
      debug:
        var: nagios_validate.stdout_lines
      when: nagios_validate.rc == 0

    - name: Enable and start Nagios
      systemd:
        name: nagios
        enabled: yes
        state: restarted

    - name: Restart Apache
      systemd:
        name: apache2
        enabled: yes
        state: restarted

    - name: Configure firewall for Nagios
      ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - "80"
        - "443"

    - name: Verify Nagios is accessible
      uri:
        url: "http://localhost/nagios"
        status_code: [200, 401, 403]
      register: nagios_check
      changed_when: false
      ignore_errors: yes

    - name: Display Nagios status
      debug:
        msg: "Nagios web interface should be accessible at http://{{ ansible_default_ipv4.address }}/nagios"
